h1 {
  color: lightblue;
font-style: ariel;
text-align: center;
background-color: antiquewhite;
border-radius: 5px;



}
h3 {
  font-style: ariel;
  font-size: large;
}

item1 {
  background-color: blueviolet;
}